.hero {
  height: 100dvh;
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-size: cover;
  background-position: center;
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: calc(var(--mantine-spacing-xl) * 6);
  z-index: 1;
  position: relative;
}

.title {
  color: var(--mantine-color-white);
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
}

.description {
  color: var(--mantine-color-white);
  max-width: 600px;
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
}
